@import '@/scss/variables.scss';

.entry {
  .header {
    margin-bottom: 20px;

    .title {
      font-size: 32px;
      color: var(--title-color);
    }

    .date {
      color: gray;
      font-size: 14px;
    }

    hr {
      margin: 20px 0px;
      border: 1px solid;
      opacity: 0.1;
    }
  }

  @import './code.scss';

  p {
    margin: 20px 0px;
  }

  ul, ol {
    margin-left: 10px;
    ul, ol {
      margin-left: 15px;
    }
  }

  ul > li {
    // - 표시
    &::before {
      content: '-';
      margin-right: 5px;
    }
    margin-left: 10px;
  }

  ol > li {
    margin-left: 10px;
    // 순서 숫자 할당 (3.)
    counter-increment: ol-counter;
    &::before {
      content: counter(ol-counter) '.';
      margin-right: 5px;
    }
  }

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 16px 0px;
    color: var(--title-color);
  }


  blockquote {
    border-left: 5px solid var(--highlight-color);
    padding-left: 10px;
  }


  strong {
    color: var(--highlight-color);
  }
}