@import '@/scss/base/index.scss';

.theme-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}