@import '@/scss/base/index.scss';

html {
  font-size: $base-font-size;  // rem의 기준이 되는 루트 글꼴 크기 설정
}

body {
  font-family: $font-family;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  font-size: $base-font-size;
  transition: background-color 0.3s, color 0.3s;  // 부드러운 전환 효과
}