@import '@/scss/base/reset.scss';


// 테마 변수
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #0000EE;
  --secondary-color: #666666;
}

[data-theme='light'] {
  --bg-color: #F5F5F5;
  --text-color: #000000;
  --link-color: #0000EE;
  --secondary-color: #666666;
}

[data-theme='dark'] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --link-color: #66b3ff;
  --secondary-color: #999999;
}

// 기본 변수
$font-family: 'D2Coding', monospace;  // 기본 폰트를 D2Coding으로 변경, fallback으로 monospace
$spacing: 1.2rem;
$base-font-size: 18px;


body {
  font-family: $font-family;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  font-size: $base-font-size;
  max-width: 1000px;
  margin: 0 auto;
  padding: $spacing * 2;
  transition: background-color 0.3s, color 0.3s;  // 부드러운 전환 효과
  -webkit-font-smoothing: antialiased;  // 폰트 렌더링 개선
  -moz-osx-font-smoothing: grayscale;   // 폰트 렌더링 개선
}

