@import '@/scss/base/index.scss';

body {
  font-family: $font-family;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  font-size: $base-font-size;
  max-width: 1000px;
  margin: 0 auto;
  padding: $spacing * 2;
  transition: background-color 0.3s, color 0.3s;  // 부드러운 전환 효과
  -webkit-font-smoothing: antialiased;  // 폰트 렌더링 개선
  -moz-osx-font-smoothing: grayscale;   // 폰트 렌더링 개선
}