.header {
  font-size: 22px;
  background-color: rgba(var(--background-color), 0.8); // 반투명 배경색 추가
  backdrop-filter: blur(10px); // 블러 효과 추가
  z-index: 100; // 다른 요소들 위에 표시
  display: flex;
  justify-content: space-between;

  position: fixed; // 고정 위치
  top: 0; // 맨 위에 고정
  left: 50%; // 중앙 정렬을 위해 50%로 변경
  transform: translateX(-50%); // 중앙 정렬을 위한 변환
  padding: 20px 0px; // 여백 추가

  .header-right button {
    margin-left: 16px;

    &.active {
      opacity: 1;
      // 밑줄
      border-bottom: 2px solid var(--title-color);
    }
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  button {
    color: var(--title-color);

    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;

    margin: 0px;
    padding: 0px;

    &:hover {
      opacity: 1;
    }
  }

  .hamburger-menu button {
    text-align: left;
  }

  .theme-toggle button {
    text-align: right;
  }
}