.main-header {
  width: 100%;
  font-size: 22px;
  background-color: var(--background-color); // 배경색 추가
  z-index: 100; // 다른 요소들 위에 표시
  display: flex;
  justify-content: space-between;

  margin: 50px 0px;

  .header-left button {
    margin-right: 10px;

    &.active {
      opacity: 1;
      // 밑줄
      border-bottom: 2px solid var(--title-color);
    }
  }

  button {
    color: var(--title-color);

    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;

    margin: 0px;
    padding: 0px;

    &:hover {
      opacity: 1;
    }
  }

  .hamburger-menu button {
    text-align: left;
  }

  .theme-toggle button {
    text-align: right;
  }
}