$highlight-color: #A1BAF0;

// 테마 변수
$theme-base-color: #A1BAF0;

:root {
  --theme-mode: 'light';
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #0000EE;
  --secondary-color: #666666;
}

[data-theme='light'] {
  --theme-mode: 'light';

  --highlight-color: hsl(from #{$highlight-color} h calc(s + 0) calc(l + 0));
  --title-color: hsl(from #000000 h calc(s + 0) calc(l + 5));
  --text-color: hsl(from #000000 h calc(s + 0) calc(l + 10));

  --bg-color: hsl(from #ffffff h calc(s + 0) calc(l - 5));
  --link-color: #0000EE;
  --secondary-color: #666666;
}
[data-theme='dark'] {
  --theme-mode: 'dark';

  --highlight-color: hsl(from #{$highlight-color} h calc(s + 0) calc(l + 0));
  --title-color: hsl(from #ffffff h calc(s + 0) calc(l - 10));
  --text-color: hsl(from #ffffff h calc(s + 0) calc(l - 15));

  --bg-color: hsl(from #000000 h calc(s + 0) calc(l + 10));
  --link-color: #66b3ff;
  --secondary-color: #999999;
}

// 기본 변수
$font-family: 'D2Coding', monospace;  // 기본 폰트를 D2Coding으로 변경, fallback으로 monospace
$spacing: 1.0rem;
$base-font-size: 16px;