// 색상 변수
$primary-color: #3498db;
$secondary-color: #2ecc71;
$error-color: #e74c3c;

#main {
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// 기본 스타일
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

// SEO 클래스에 대한 스타일
.seo {
  color: $primary-color;
  background-color: $secondary-color;
  padding: 20px;
  text-align: center;
  border-radius: 8px;

  &:hover {
    background-color: lighten($secondary-color, 10%);
    cursor: pointer;
  }
}