@import '@/scss/base/index.scss';

.entry {
  .header {
    margin-bottom: 20px;

    .title {
      color: var(--theme-color);
    }

    .date {
      color: gray;
      font-size: 14px;
    }
  }

  @import './code.scss';

  p {
    margin: 20px 0px;
  }

  ul, ol {
    margin-left: 10px;
    ul, ol {
      margin-left: 15px;
    }
  }

  ul > li {
    // - 표시
    &::before {
      content: '-';
      margin-right: 5px;
    }
    margin-left: 10px;
  }

  ol > li {
    margin-left: 10px;
    // 순서 숫자 할당 (3.)
    counter-increment: ol-counter;
    &::before {
      content: counter(ol-counter) '.';
      margin-right: 5px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--theme-color);
  }

  blockquote {
    border-left: 5px solid var(--theme-color);
    padding-left: 10px;
  }
}