@import '@/scss/base/index.scss';

.entry {
  @import './code.scss';

  p {
    margin: 20px 0px;
  }

  ul, ol {
    margin-left: 10px;
    ul, ol {
      margin-left: 15px;
    }
  }

  ul > li {
    // - 표시
    &::before {
      content: '-';
      margin-right: 5px;
    }
    margin-left: 10px;
  }

  ol > li {
    margin-left: 10px;
    // 순서 숫자 할당 (3.)
    counter-increment: ol-counter;
    &::before {
      content: counter(ol-counter) '.';
      margin-right: 5px;
    }
  }


  blockquote {
    border-left: 5px solid gray;
    padding-left: 10px;
  }
}